.hovereffect {
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #bddbfa 100%);
    background: linear-gradient(45deg, #ff89e9 0%, #bddbfa 100%);
    cursor: default;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.hovereffect .overlay {
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 3em;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
}

.hovereffect img {
    -webkit-transform: translate3d(-40px, 0, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    display: block;
    max-width: none;
    object-fit: cover;
    position: relative;
    transform: translate3d(-40px, 0, 0);
    transition: opacity 0.35s, transform 0.45s;
    width: calc(100% + 60px);
}

.hovereffect h2 {
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    padding: 15% 0 10px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}

.hovereffect .overlay:before {
    -webkit-transform: translate3d(-20px, 0, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    border: 1px solid #fff;
    bottom: 20px;
    content: '';
    filter: alpha(opacity=0);
    left: 20px;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: translate3d(-20px, 0, 0);
    transition: opacity 0.35s, transform 0.45s;
}

.hovereffect a, .hovereffect p {
    -webkit-transform: translate3d(-10px, 0, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    color: #FFF;
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
    transition: opacity 0.35s, transform 0.45s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    filter: alpha(opacity=60);
    opacity: 0.6;
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
    -webkit-transform: translate3d(0, 0, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/*Button*/

.btnNav {
    background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color: #bddbfa;
    border: 1px solid #84bbf3;
    border-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.btnNav:hover {
    background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    background-color: #80b5ea;
}

.btnNav:active {
    position: relative;
    top: 1px;
}

.btnPaging {
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border: 1px solid #337bc4;
    border-radius: 5px;
    box-shadow: 3px 4px 0px 0px #1564ad;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 900;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.btnPaging:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.btnPaging:active {
    position: relative;
    top: 1px;
}