* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { }

.container {
    height: 500px;
    left: 50%;
    margin: auto;
    max-width: 800px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.myRightCtn {
    align-items: center;
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
    border-radius: 25px;
    color: rgb(192, 192, 192);
    display: flex;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    padding: 25px;
    position: relative;
}

.myLeftCtn {
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    padding-left: 50px;
    position: relative;
}

.myLeftCtn header {
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.row { height: 100%; }

.myCard {
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    height: 100%;
    position: relative;
}

.myRightCtn header {
    color: #fff;
    font-size: 44px;
}

.box {
    margin: 20px;
    margin-bottom: 100px;
    position: relative;
}

.myLeftCtn .myInput {
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 25px;
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    padding: 10px;
    padding-left: 50px;
    width: 230px;
}

.myLeftCtn .myInput:focus { outline: none; }

.myForm {
    margin-top: 50px;
    position: relative;
}

.myLeftCtn .butt {
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    background: linear-gradient(45deg, #bb36fd, #9b00e8);
    border: none;
    border-radius: 25px;
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    width: 230px;
}

.myLeftCtn .butt:hover { background: linear-gradient(45deg, #c85bff, #b726ff); }

.myLeftCtn .butt:focus { outline: none; }

.myLeftCtn .fas {
    color: #bb36fd;
    left: 36px;
    position: relative;
}

.butt_out {
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    width: 120px;
}

.butt_out:hover { border: 2px solid #eecbff; }

.butt_out:focus { outline: none; }

#loginDesc {
    background-image: url('Image/Black Deer2.png');
    height: 440px;
    margin-top: 30px;
    width: 280px;
}