#artOrder { margin-top: 50px; }

.artwork-image-division img {
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
    text-align: center;
}

h2 #authorInfoHeading {
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

img#ContentPlaceHolder1_authorImage {
    border: 2px solid black;
    cursor: pointer;
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}