#artOrder{
    margin-top:50px;
}

.artwork-image-division img {
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
    text-align: center;
    align-items: center;
}

h2 #authorInfoHeading{
    padding-top:50px;
    text-align: center;
    align-items: center;
}
img#ContentPlaceHolder1_authorImage {
    max-width: 200px;
    max-height:200px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
}

