:root {
    --container-bg-color: #333;
    --left-bg-color: linear-gradient(to right,rgba(218, 56, 214, 0.9),rgba(218, 56, 214, 0.4));
    --left-button-hover-color: rgba(218, 56, 214, 0.9);
    --right-bg-color: linear-gradient(to right,rgba(0, 146, 76, 0.4),rgba(0, 146, 76, 0.9));
    --right-button-hover-color: rgba(0, 146, 76, 0.9);
    --hover-width: 75%;
    --other-width: 25%;
    --time: 2s;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

p {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-shadow: 2px 2px 10px #111;
    letter-spacing: 3px;
}

h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-shadow: 2px 2px 10px #111;
    letter-spacing: 3px;
}

.button {
    display: block;
    position: absolute;
    left: 50%;
    top: 60%;
    height: 2.5rem;
    
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

.split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.container {
    /*position: relative;*/
    display:flex;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

    .split.left {
        left: 0;
        background: url(../2-flower-painting-magnolia-pieterwagemansa.jpg);
        background-size: cover;
    }

        .split.left:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: var(--left-bg-color);
        }

    .split.right {
        right: 0;
        background: url(../sea.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

        .split.right:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: var(--right-bg-color);
        }

        .split.left, .split.right, .split.right:before, .split.left:before {
            transition: 2s;
        }

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

    .hover-left .right:before {
        z-index: 2;
    }


.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

    .hover-right .left:before {
        z-index: 2;
    }


@media (max-width: 1000px) {
    h1 {
        font-size: 1.3rem;
    }

    .button {
        width: 11rem;
    }
}

@media (max-height: 1000px) {
    .button {
        top: 50%;
    }
}
