/* -----------------------
  Form 
----------------------- */
*, ::after, ::before { box-sizing: border-box; }

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.form-control {
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555555;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    height: calc(1.5em + .75rem + 2px);
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    width: 100%;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0;
}

.form-group { margin-bottom: 15px; }

#search-form-container { box-shadow: rgba(0, 0, 0, 0.24) 0em 0.03em 0.08em; }

.search-form-control { border-radius: 0; }

.search-form-control :focus { box-shadow: none; }


.search-form-group { position: relative; }

.search-form-group label {
    color: #a1a2a3;
    font-size: 60%;
    pointer-events: none;
    position: relative;
    text-transform: uppercase;
    transform: scale(1.4);
    transform-origin: 0 0;
    z-index: 5;
}

.search-form-group input { width: 100% }


.search-form-group.not-empty label { transform: none; }

.search-form-control {
    border: 0;
    border-bottom: 0.01em solid #a1a2a3;
}

.search-form-control, .search-form-control :focus, .search-form-control :focus :hover {
    background: none;
    color: #73B5FF;
    outline: none;
}

.search-form-control :focus, .search-form-control :focus :hover { border-bottom: 0.01em solid #73B5FF; }